$grey: #555b6e;
$dark-blue: #89b0ae;
$light-blue: #bee3db;
$white: #faf9f9;
$orange: #ffd6ba;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 544px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
